version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
